@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome to Encryption App!</h1>

    <p>Choose an encryption type:</p>

    <ul>
        <li><a asp-page="Caesar">Caesar Cipher</a></li>
        <li><a asp-page="Polybius">Polybius Encryption</a></li>
    </ul>
    </div>